# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Closure Linter'
      'submenu': [
        { 'label': 'Fix Style', 'command': 'closure-linter:fixjsstyle' }
      ]
    ]
  }
]
