// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.closure-linter.tooltip {
  top: @tab-height + 10;
  left: auto;
  right: 5px;
  width: 500px;
  padding-right: 40px;
  white-space: normal;
  border-radius: 3px;
  background-color: @base-background-color;
  button.close {
    position: absolute;
    top: 8px;
    right: 11px;
    font-size: 13px;
    color: @text-color;
  }
}
